<div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/" class="site_title"><i class="fa fa-paw"></i> <span>EGM</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile">
              <div class="profile_pic">
                <img src="{{ asset('bundles/egm/images/img.jpg') }}" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Bonjour,</span>
                <h2>Mekni bechir</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-home"></i> Factures <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">                      
                      <li><a href="/facture/show">Voir Factures</a></li>
                      <li><a href="/facture/add">Ajouter Facture</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-edit"></i> Produits <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/produit/show">Voir Produits</a></li>
                      <li><a href="/produit/add">Ajouter Produit</a></li>
                    </ul>
                  </li>
                  <li><a><i class="fa fa-edit"></i> Sociétés <span class="fa fa-chevron-down"></span></a>
                    <ul class="nav child_menu">
                      <li><a href="/societe/show">Voir Sociétés</a></li>
                      <li><a href="/societe/add">Ajouter Société</a></li>
                    </ul>
                  </li>
                  <li><a href="/setting"><i class="fa fa-cog"></i> Configuration </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>